.about {
  @media $mq_s_only {
    padding: 42px 0 96px
  }
}

.about__header {
  @media $mq_m {
    display: flex
    padding: 0 96px
  }
}

.about__titleContainer {
  @media $mq_s_only {
    max-width: 192px
    margin: 0 auto      
  }
  
  .logo {
    margin: 5px 0 0 34px
    width: size = 32px
    height: size
    
    @media $mq_m {
      margin: 10px 0 0 64px
      width: size = 60px
      height: size
    }
  }
}

.about__descContainer {
  @media $mq_s_only {
    margin-top: 42px
    padding: 0 36px
  }
  @media $mq_m {
    padding: 64px 0 64px 96px
  }
}

.about__story {
  position: relative
  @media $mq_s_only {
    margin-top: 136px
  }
  @media $mq_m {
    padding: 64px 96px
    max-width: (594px + 2 * 96px)
    margin: 32px auto
  }
}

.about__storyDesc {
  z-index: 0
  position: relative
  background-color: $color_product;
  color: $color_product !important;
  padding: 44px 48px 48px 24px
  
  @media $mq_s_only {
    transform: translate(-24px, 0) // sticked to border
  }
  @media $mq_m {
    padding: 48px 96px 72px 48px
  }
  
  p {
    strong {
      font-family: $font_bold
    }
    & + p {
      margin-top: 60px
      
      @media $mq_m {
        margin-top: 72px
      }
    }
  }
}

.about__storyVisual {
  z-index: 1
  position: absolute
  top: 0
  right: 0
  bottom: 0px
  overflow: hidden
  
  @media $mq_s_only {
    bottom: 20px
    transform: translate(24px, -60px)
  }
  
  img {
    width: auto
    height: 100%
    
    @media $mq_s_only {
      transform: translate(112px, 0)
    }
  }
}

.about__carousel {
  margin: 96px 0
  
  @media $mq_m {
    margin: 160px 0
  }
}

.about__carouselVisualsSlider {
  
}

.about__carouselFooter {
  position: relative
  z-index: 1
  margin: -24px 32px 0
  padding: 24px 0 0 0
  @media $mq_m {
    margin: -32px 96px 0 64px
    padding: 32px 0 0 0
  }
  
  @media $mq_l {
    margin: -48px 192px 0 96px
    padding: 48px 0 0 0
  }
}

.about__carouselContentsSlider {
  position: relative
  z-index: 1
  padding: 24px 0
  margin-right: 24px
  
  @media $mq_m {
    padding: 48px 0
    margin-right: 48px
  }
}

.about__carouselBgSlider {
  position: absolute
  z-index: 0
  top: 0
  right: 0
  bottom: 0
  width: 38%
  overflow: hidden
  
  @media $mq_s_only {
    bottom: 50px
  }
  
  @media $mq_m {
    width: 55%
  }
}

.about__footer {
  text-align: center
  
  .logo {
    margin-bottom: 20px
    width: size = 60px
    height: size
  }
}

