.link {
  text-decoration: none !important
  display: inline-block
  position relative
  overflow: hidden
  vertical-align top // hotfix - explained here https://stackoverflow.com/questions/9273016/why-is-this-inline-block-element-pushed-downward
  white-space: nowrap // because can't be on several lines with custom underline
  
  &::after {
    content: ''
    display: block
    position absolute
    bottom: 0
    left: 0
    width: 100%
    height: 1px
    background-color currentColor
    transition(transform)
    transform: translate(0%, 0)
  }
  
  &:focus {
    &::after {
      transform: translate(50%, 0)
    }
  }
  
  &.is-active,
  &:hover {
    color: inherit // prevent default hover color
    &::after {
      transform: translate(101%, 0)
    }
  }
    
  &--thick {
    padding-bottom: 1px
    
    &::after {
      height: 2px
    }
  }
  
  &--discrete {
    &::after {
      transform: translate(-101%, 0)
    }
    
    &:hover {
      &::after {
        transform: translate(0%, 0)
      }
    }
    
    &:focus {
      &::after {
        transform: translate(-50%, 0)
      }
    }
  }
  
  &--danger {
    color: $color_danger
    
    &:hover {
      color: $color_danger  
    }
  }
  
  &--matchFont {
    font-family: inherit
  }
}