$z-index = 9999

.preloader {
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: $z-index
    background-color: $color_creator

    .preloader-wrap {
        position: absolute
        width:100%
        top: 50%
        transform: translate(0%, -50%)
        margin: 0 auto
        text-align: center
        padding:20px

        .preloader-elements {
            font-family: $font_display
            overflow: hidden
            margin-top: 20px
            opacity:0
            visibility: hidden

            .preloader-logo{
                position: relative
                margin-bottom: 10px;
            }


            .preloader-logo svg {
                margin: 0 auto
            }

            .preloader-text {
                font-size: 30px
                line-height: 1.5em
                color: $color_darkGrey

            }
        }
    }
}


.page-sweeper {
    position: fixed
    top: 0
    left: 0
    z-index: $z-index
    width: 100%
    height: 100%
    transform: translateX(-100%)
    transform-origin: 100% 0
    opacity:0;
    visibility: hidden;
    background-color: $color_creator
}

