.sizechart {
  border: 2px solid $color_darkGrey
  padding: 16px 24px 24px
}

.sizechart__list {
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-wrap: wrap
}

.sizechart__item {
  width: 50%
  line-height: 28px
  font-family: $font_bold
}

.sizechart__toggles {
  margin-top: 36px
  
  .toggle + .toggle {
    margin-top 10px
  }
}