{% extends "global/layout_2_col.html" %}

{% load i18n %}
{% load cloudinary %} 

{# TODO : create variable (such as is_settings_subpage) to know if it's a setting subpage instead of using the following very verbose if statement : if active_tab == 'profile' or active_tab == 'addresses' or active_tab == 'notifications' or active_tab == 'password'  or active_tab == 'payments' #}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block layout_extra_classnames %}grid--borderTopLess{% endblock %}

{% block layout_sidebar_extra_classnames %}color-context color-context--account u-desktop-only{% endblock %}

{% block grid_banner %}
    <h1 class="title title--caps">{{user.first_name}}<br>{{user.last_name}}</h1>
{% endblock %}

{% block grid_header_title %}
    <div class="grid__headerTitle u-desktop-only">{% block grid_header_titleContent %}{% endblock %}</div>
{% endblock %}

{% block grid_header %}
    {% if active_tab == 'password'%}
        <div class="u-mobile-only">
            {{block.super}}
        </div>
        <div class="grid__subNav u-desktop-only">
            <ul class="grid__subNavList">
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'password' %} is-active{% endif %}" href="{% url 'creators:change_password' %}">{% trans "Change Password" %}</a>
                </li>
            </ul>
        </div>
    {% elif active_tab == 'profile_info' or active_tab == 'account_info' or active_tab == 'physical_attributes' or active_tab == 'product_preferences' or active_tab == 'addresses' %}
        <div class="u-mobile-only">
            {{block.super}}
        </div>
        <div class="grid__subNav u-desktop-only">
            <ul class="grid__subNavList">
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'profile_info' %} is-active{% endif %}" href="{% url 'creators:profile_info' %}">{% trans "My Profile Info" %}</a>
                </li>
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'account_info' %} is-active{% endif %}" href="{% url 'creators:account_info' %}">{% trans "My Account Info" %}</a>
                </li>
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'physical_attributes' %} is-active{% endif %}" href="{% url 'creators:profile_physical_attributes' %}">{% trans "My Physical Attributes" %}</a>
                </li>
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'product_preferences' %} is-active{% endif %}" href="{% url 'creators:profile_product_preferences' %}">{% trans "My Product Preferences" %}</a>
                </li>
                <li class="grid__subNavListItem">
                    <a class="grid__subNavListLink {% if active_tab == 'addresses' %} is-active{% endif %}" href="{% url 'creators:profile_shipping_address' %}">{% trans "My Shipping Address" %}</a>
                </li>
            </ul>
        </div>
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block column_left %}
    <div class="categories nested-lists">
        <ul class="nested-lists__list">
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'creators' %} is-active{% endif %}" href="">{% trans "Followed Creators" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'selected_products' %} is-active{% endif %}" href="{% url 'creators:selected_products' %}">{% trans "Selected Products" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="categories__link {% if active_tab == 'available_products' %} is-active{% endif %}" href="{% url 'creators:products_list' %}">{% trans "Available Products" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="nested-lists__link categories__link {% if active_tab == 'profile_info' or active_tab == 'account_info' or active_tab == 'physical_attributes' or active_tab == 'product_preferences' or active_tab == 'addresses' %} is-active{% endif %}" href="{% url 'creators:profile_info'  %}">{% trans "My Informations" %}</a>
            </li>
            <li class="nested-lists__item">
                <a class="nested-lists__link categories__link {% if active_tab == 'password' %} is-active{% endif %}" href="{% url 'creators:change_password' %}">{% trans "My Settings" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block grid_header_filters %}
    <div class="select select--borderLess u-mobile-only">
        <select class="select-nav">
            <option value="" {% if active_tab == 'brands' %} selected="selected"{% endif %}>{% trans "Followed Brands" %}</option>
            <option value="" {% if active_tab == 'creators' %} selected="selected"{% endif %}>{% trans "Followed Creators" %}</option>
            <option value="}" {% if active_tab == 'products' %} selected="selected"{% endif %}>{% trans "My Likes" %}</option>
            <option value="" {% if active_tab == 'orders' %} selected="selected"{% endif %}>{% trans "My Orders" %}</option>
            <optgroup label="{% trans "My Informations" %}">
                <option value="" {% if active_tab == 'profile' %} selected="selected"{% endif %}>{% trans "My Profile" %}</option>
                <option value="" {% if active_tab == 'addresses' %} selected="selected"{% endif %}>{% trans "My Addresses" %}</option>
            </optgroup>
            <optgroup label="{% trans "My Settings" %}">
                <option value="" {% if active_tab == 'payments' %} selected="selected"{% endif %}>{% trans "My Payment Methods" %}</option>
                <option value=" {% if active_tab == 'password' %} selected="selected"{% endif %}>{% trans "Password" %}</option>
                <option value="" {% if active_tab == 'notifications' %} selected="selected"{% endif %}>{% trans "Notifications" %}</option>
            </optgroup>
        </select>
    </div>
{% endblock %}

{% block content %}
    {% if active_tab == 'notifications' or active_tab == 'password'  or active_tab == 'payments' %}
        <div class="account__settingsContent">
    {% endif %}

    {% block tabcontent %}{% endblock tabcontent %}
    
    {% if active_tab == 'profile' or active_tab == 'addresses' or active_tab == 'notifications' or active_tab == 'password'  or active_tab == 'payments' %}
        </div>{# // profile__settingContent #}
    {% endif %}
{% endblock content %}
