{% extends "registration/base_password_reset.html" %}

{% load i18n %}

{% block registration_content %}
	{% if validlink %}
		<form method="post">
		    {% csrf_token %}
		    <div class="connect__optionHeader">
		        <h2 class="title title--small">{% trans "Change password" %}</h2>
		    </div>
		    
		    {% include "partials/form_fields.html"  %}
		    <div class="form__actions connect__optionFooter">
		        <button type="submit" class="cta cta--dark">{% trans 'Change password' %}</button>
		    </div>
		</form>
	{% else %}
	    <p>
	      The password reset link was invalid, possibly because it has already been used.
	      Please request a new <a href="{% url 'password_reset' %}" class="link">password reset</a>.
	    </p>
	{% endif %}
{% endblock %}