{% extends "registration/base_password_reset.html" %}

{% load i18n %}

{% block registration_content %}
	<form method="post">
	    {% csrf_token %}
	    <div class="connect__optionHeader">
	        <h2 class="title title--small">{% trans "Forgot password" %}</h2>
	    </div>
	    
	    {% include "partials/form_fields.html"  %}
	    <div class="form__actions connect__optionFooter">
	        <button type="submit" class="cta cta--dark">{% trans 'Submit' %}</button>
	    </div>
	</form>
{% endblock %}