{% extends "global/layout.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
{% comment %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
{% endcomment %}
 <div class="register">
        <section class="register__header">
            <div class="container container--narrow">
                <h2 class="register__headerTitle title title--small">{% trans "Your account on Unlabel" %}</h2>
                <p>{% trans "Creating an account is simple and easy. An account will allow you to follow brands updates, add products to your wishlist, manage your personal details and more. Follow the next quick steps to set up your account today." %}</p>
                <div class="register__headerActions">
                    {# TODO : doesn't work ? #}
                    <a class="btn cta cta--facebook cta--inlineIcon cta--inlineIconLeft" href=""><span class="fonticon fonticon--facebook"></span>{% trans "Register with Facebook" %}</a>
                </div>
            </div>
        </section>
        <hr>
        <section class="register__main">
            <div class="container container--narrow">
                <form id="register_form" method="post" class="form form--m-2 form-stacked">
                    {% csrf_token %}
                    {% include "partials/form_errors.html" %}
                    {% include 'partials/form_field.html' with field=form.redirect_url %}
                    <div class="form__row form__row--m-2">
                        {% include 'partials/form_field.html' with field=form.username %}
                        {% include 'partials/form_field.html' with field=form.email %}
                    </div>
                    <div class="form__row form__row--m-2">
                        {% include 'partials/form_field.html' with field=form.password1 %}
                        {% include 'partials/form_field.html' with field=form.password2 %}
                    </div>
                    {% include 'partials/form_password_security.html' with field_id="id_password1" %}
                    <p class="form__group">
                        By creating an account, you agree to Unlabel’s <a class="link" href="#">Privacy Policy</a> and <a class="link" href="#">Terms of Use</a>
                    </p>
                    <div class="form__actions">
                        <button name="registration_submit" type="submit" value="Register" class="cta cta--dark"
                                data-loading-text="{%trans 'Creating...' %}">{% trans 'Create my account' %}</button>
                    </div>
                    <p class="form__alternative">
                       Already have an account? <a href="" class="link">Sign in</a>
                    </p>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
