{% load i18n %}

<section class="connect connect--{{style|default:'page'}}">
    <div class="{% if style == 'page' %}container{% endif %}">
        <div class="cols cols--m-2">
            <div class="col connect__option connect__option--signin" style="margin: 0 auto;">
                <form id="login_form" method="post">
                    {% csrf_token %}
                    <div class="connect__optionHeader">
                        <h2 class="{% if style == 'page' %} title title--small{% else %} subtitle subtitle--small{% endif %}">{% if style == 'page' %}{% trans "Please Sign In" %}{% else %}{% trans "Sign in" %}{% endif %}</h2>
                    </div>
                    {% if style == 'page' %}
                        {% include "partials/form_fields.html"  %}
                    {% else %}
                        <div class="form__row">
                            <div class="form__group">
                                {# TODO : populate email value if it exist #}
                                <input type="email" name="login-username" value="" placeholder="{% trans 'Email address' %}">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__group">
                                <input type="password" name="login-password" placeholder="{% trans 'Email address' %}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="form__group">
                        <a class="link" href="{% url 'password_reset' %}">{% trans "Forgot password ?" %}</a>
                    </div>
                    <div class="form__actions connect__optionFooter">
                        <button name="login_submit" type="submit" value="Log In" class="cta cta--{% if style == 'page' %}dark{% else %}light{% endif %}">{% trans 'Login' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>