{% load i18n %}


<section id="content-creation-policy" class="drawer drawer--bigHeader drawer--right drawer--dark drawer--small returns-drawer">
	<a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Drawer' %}"></a>
	<div class="drawer__frame">
		<div class="drawer__header">
			<div class="drawer__headerContent">
				<h2 class="title title--small">{% trans "Content Creation Policy" %}</h2>
		    </div>
		    <a href="#close-drawer" class="drawer__close close close--medium" title="{% trans 'Close Drawer' %}"></a>
		</div>
		<div class="drawer__scroller">
			<div class="drawer__content drawer__content--padded">
				<ul class="returns-drawer__list">
					<li class="returns-drawer__listItem"> Please submit this form within 5 days of receiving the product. You can read more on this in our <a class="link" href="#">FAQ</a> for futher details.</li>
					
					<li class="returns-drawer__listItem">When creating product images showcase the product showing each clearly — front, L side, R side, back and 1 detail image of the product by itself highlighting an aspect of the product you particularly like (ex: fabric texture, stitching, tailoring, buttons etc.). Images must be high quality and creative.</li>
					
					<li class="returns-drawer__listItem">When creating the video high quality smartphone video is ok. The orientation of the video must be landscape 16:9 widescreen and must be recorded in at least 720p (HD). All reviews should be your honest opinion of the product! Use example videos from other creators located on our <a class="link" href="https://unlabel.us/pages/our-creators">website</a>.</li>

					<li class="returns-drawer__listItem">If the quality of your content does not meet our creative standards, it will not be accepted and you must re submit the content until it meets our creative standards.</li>

					<li class="returns-drawer__listItem">If you make any social media posting all content must mention Unlabel as the source of where you received the product. Please read the promotion guidelines part of our <a class="link" href="#">FAQ</a> for futher details.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
