{% load i18n %}
{% load staticfiles %}
{% if user.is_authenticated %}
    <footer class="footer">
        <div class="footer__bar footer__bar--top">
            <nav class="footer__nav footer__nav--primary">
                <a class="footer__home" href="{% url 'home' %}" title="{% trans 'Home' %}">
                    <div class="logo">
                        <span class="logo__label">{% block brand_title %}Unlabel <small>Style, Introduced.</small>{% endblock %}</span>
                        <span class="logo__icon">
                            <img src="{% static 'unlabel/dist/img/logo_light.svg' %}" alt="Unlabel Logo">
                        </span>
                    </div>
                </a>
                <ul class="footer__navList">
                    <li>
                        <a class="link link--thick link--discrete" href="{% url 'faq' %}" title="{% trans 'FAQ' %}">{% trans 'FAQ' %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__bar footer__bar--bottom cols cols--align-middle">
            <div class="footer__copyright"><span class="footer__copyrightSymbol">©</span>{% now 'Y' %} {% trans 'Unlabel. All rights reserved' %}</div>
    <!--         <nav class="footer__nav footer__nav--secondary">
                <ul class="footer__navList footer__navList--legal">
                    <li>
                        <a href="" title="{% trans 'Terms' %}">{% trans 'Terms' %}</a>
                    </li>
                    <li>
                        <a href="" title="">{% trans 'Privacy' %}</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </footer>
{% endif %}