{% load i18n %}

<div class="form__passwordSecurity">
    <span>{% trans "Security level (at least one capital letter and one number)" %}</span>
    <br class="u-mobile-only">
    <span class="password-security" data-password-security-id="{{field_id|default:'id_password1'}}">
        <span class="password-security__bar"></span>
        <span class="password-security__bar"></span>
        <span class="password-security__bar"></span>
        <span class="password-security__bar"></span>
    </span>
</div>