{% load i18n %}
{% load staticfiles %}

<div class="account-mini">
    <div class="account-mini__col account-mini__col--left">
    	<div class="account-mini__colGroup">
    		<p class="title title--small title--oneWordPerLine account-mini__userName">{{user.first_name}} {{user.last_name}}</p>
    		<ul class="account-mini__navList color-context color-context--account">
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "Followed Brands" %}</a>
    			</li>
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "Followed Creators" %}</a>
    			</li>
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "My Likes" %}</a>
    			</li>
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "My Orders" %}</a>
    			</li>
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "My Informations" %}</a>
    			</li>
    			<li>
    				<a class="account-mini__navLink" href="">{% trans "My Settings" %}</a>
    			</li>
    		</ul>
    	</div>
    	<div class="account-mini__colGroup">
    		<a class="link account-mini__logout" href="">{% trans 'Sign out' %}</a>
    		<a class="account-mini__profile cta cta--dark" href="">{% trans 'My Account' %}</a>
    	</div>
    </div>
    <div class="account-mini__col account-mini__col--right">
        <p class="account-mini__notificationsTitle subtitle subtitle--small">{% trans 'Notifications' %}</p>
        
    	{# TODO : If at least 1 notification, display list  #}
    	<ul class="account-mini__notificationsList">
    		{# TODO : remove static data and loop through latest 3 notifications #}
    		<li class="account-mini__notificationsListItem">
    			<div class="notification">
    			    <div class="notification__visual">
    			        <div class="img-container img-container--square">
    			            <img src="{% static 'unlabel/dist/img/temp/notification-product1.jpg' %}" alt=""/>
    			        </div>
    			    </div>
    			    <div class="notification__content">
    			        <p class="notification__title">New color available for this product</p>
    			        <p class="notification__time">5 hours ago</p>
    			    </div>
    			</div>
    		</li>
    		<li class="account-mini__notificationsListItem">
    			<div class="notification">
    			    <div class="notification__visual">
    			        <div class="img-container img-container--square">
    			            <img src="{% static 'unlabel/dist/img/temp/notification-product2.jpg' %}" alt=""/>
    			        </div>
    			    </div>
    			    <div class="notification__content">
    			        <p class="notification__title">new product</p>
    			        <p class="notification__time">18 hours ago</p>
    			    </div>
    			</div>
    		</li>
    		<li class="account-mini__notificationsListItem">
    			<div class="notification">
    			    <div class="notification__visual">
    			        <div class="img-container img-container--square">
    			            <img src="{% static 'unlabel/dist/img/temp/notification-product3.jpg' %}" alt=""/>
    			        </div>
    			    </div>
    			    <div class="notification__content">
    			        <p class="notification__title">This product is almost out of stock</p>
    			        <p class="notification__time">1 day ago</p>
    			    </div>
    			</div>
    		</li>
    	</ul>
    	{# TODO : If at least 3 notifications, display link  #}
        <div class="account-mini__notificationsMore">
            <a class="link" href="">{% trans 'See More' %}</a>
        </div>

    	{# TODO : If no notifications, display message  #}
        <!--
    	<div class="account-mini__notificationsMessage">
    		<p class="missing missing--matchColor">{% trans "It's pretty quiet for now." %}</p>
    	</div>
        -->
    </div>
</div>
