
{% load i18n %}

<!-- TODO : handle case when to many page numbers (display only: first ... curent-1 current current+1 ... last) -->
{% if paginator.num_pages > 1 %}
    <nav class="pagination">
        <ul class="pagination__list">
            {% for page in page_obj.paginator.page_range %}
                <li class="pagination__item {% if page_obj.number == page  %}is-active{% endif %}"><a class="pagination__link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
