{% load i18n %}

<!-- TODO : make it share the current page using providers SDKs -->
<!-- TODO : add dynamic content (text, subject, desc, etc) for each providers -->
<div class="share">
	<p class="share__title">{% trans 'Share' %}</p>
	<ul class="share__list">
		<li class="share__item">
		    <a href="mailto:?subject=&body={{request.build_absolute_uri}}" title="{% trans 'Share by Email' %}"><span class="fonticon fonticon--email fonticon--smallBox"></span></a>
		</li><li class="share__item">
		    <a target="_blank" href="https://www.facebook.com/dialog/share?app_id=test&display=popup&href={{request.build_absolute_uri}}&redirect_uri={{request.build_absolute_uri}}" title="{% trans 'Share on Facebook' %}"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
		</li><li class="share__item">
		    <a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri}}&text={{request.build_absolute_uri}}" title="{% trans 'Share on Twitter' %}"><span class="fonticon fonticon--twitter fonticon--smallBox"></span></a>
		</li><li class="share__item">
		    <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{request.build_absolute_uri}}&description={{request.build_absolute_uri}}" title="{% trans 'Share on Pinterest' %}"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
		</li>
	</ul>
</div>