{% load i18n %}
{% load cloudinary %}

<article>
    <div class="grid__itemInner">
        <a class="u-block" href="{% url 'projects:project_detail' project.slug %}" title="{{ project.title }}">
            <figure>
                <div class="img-container img-container--portrait">
                    <img src="{% cloudinary_url project.cover_image %}" alt="{{ project.title }}">
                </div>
                <figcaption>
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.client_name }}</p>
                </figcaption>
            </figure>
        </a>
    </div>
</article>