{% extends "global/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}

{% block title %}
    {% trans 'About' %} | {{ block.super }}
{% endblock %}

{% block social_meta_tags %}
    {{ block.super }}
{% endblock %}

{% block content %}
	<div class="about">
		<div class="container container--m-pad">
			<div class="about__header">
				<div class="about__titleContainer js-scroll c-mask" data-speed="1">
					<h2 class="title title--caps title--destructured">
						<span class="u-block">Our</span>
						<span class="u-block">sto-</span>
						<span class="u-block">&nbsp;&nbsp;ry</span>
					</h2>
					<div class="logo">
					    <span class="logo__icon">
					        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
					    </span>
					</div>
				</div>
				<div class="about__descContainer c-mask">
					<p class="desc">Unlabel began with a love for fashion, design, and authentic online experiences for fashion lovers. Originally inspired by the diverse fashion scenes of NYC and Los Angeles, Unlabel grew into the agency it is today. We believe in introducing a sense of style in everything that we do.</p>
				</div>
			</div>

			<div class="about__story">
				<div class="about__storyDesc js-scroll" data-speed="2">
					<p><strong>Where words fail style prevails and picks up the conversation. “Style” is the shared look with the stranger from across the room that says, “hello.” 
					<br>
					<br>
					Ask yourself, ‘how is it that people really communicate today?’ We at “Unlabel” would argue that the phrase “word of mouth” actually means “word of like” nowadays. “Our”... meaning human beings landscape of communication has been favorably altered by a social media dominated experience. Furthermore, that social media experience is unfavorably dominated by the major, big budget, confining powers of commercial influence!... NOT. ANY. MORE.</strong></p>

					<p>We believe that culture is a conversation not a commodity to be produced and distributed. That conversation happens daily throughout the world and shapes the world around us. It is our #1 goal to foster that conversation and bring it to as many people around the world as possible, striving to create authentic and unique experiences that communicate and drive healthy and sustainable change.</p>
				</div>
				<div class="about__storyVisual js-scroll"  data-speed="-2">
					<img src="{% static 'unlabel/dist/img/temp/the_street_sensei.jpg' %}" alt="Unlabel Story Visual">
				</div>
			</div>

			<div class="about__carousel carousel">
				<div class="swiper-container carousel_visualsSlider about__carouselVisualsSlider">
					<div class="swiper-wrapper">
						{% for cap in capabilities %}
							<div class="swiper-slide">
								<div class="visual visual--wideLandscape">
									<img src="{% cloudinary_url cap.image %}" alt="{{ cap.name }}">
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="about__carouselFooter">
					<div class="swiper-container carousel_contentsSlider about__carouselContentsSlider">
						<div class="swiper-wrapper">
							{% for cap in capabilities %}
								<div class="swiper-slide">
									<span class="carousel_contentItem title title--medium">We use {{ cap.name }} to {{ cap.description }}</span>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="swiper-container carousel__backgroundsSlider about__carouselBgSlider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="carousel__bgSlide" style="background-color: #EDDDDD;"></div>
							</div>
							<div class="swiper-slide">
								<div class="carousel__bgSlide" style="background-color: #DEEDEE;"></div>
							</div>
							<div class="swiper-slide">
								<div class="carousel__bgSlide" style="background-color: #DDE0ED;"></div>
							</div>
							<div class="swiper-slide">
								<div class="carousel__bgSlide" style="background-color: #F5E5D9;"></div>
							</div>
						</div>
					</div>
					<div>
						<a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
					</div>
				</div>
			</div>

			<div class="about__footer">
				<div class="logo">
				    <span class="logo__icon">
				        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
				    </span>
				</div>
				<h2 class="title title--small">{% trans "Style, Introduced." %}</h2>
			</div>

		</div>
	</div>
{% endblock content %}