{% extends "global/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}

{% block title %}
    {% trans 'About' %} | {{ block.super }}
{% endblock %}

{% block content %}

<div class="about">
	<div class="container container--m-pad">
		<div class="about__header">
			<div class="about__titleContainer">
				<h2 class="title title--caps title--destructured">
					<span class="u-block">Our</span>
					<span class="u-block">sto-</span>
					<span class="u-block">&nbsp;&nbsp;ry</span>
				</h2>
				<div class="logo">
				    <span class="logo__icon">
				        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
				    </span>
				</div>
			</div>
			<div class="about__descContainer">
				<p class="desc">Etiam aliquet erat eget consequat accumsan. Sed vel rhoncus erat. Integer laoreet libero nisl, in mollis justo lobortis vitae. Mauris ullamcorper vel tellus nec maximus. Duis sodales purus magna, sed pellentesque tellus lobortis at. Integer feugiat vel tortor et sollicitudin. Donec orci libero, congue vitae lacinia eu, aliquam ac risus. </p>
			</div>
		</div>

		<div class="about__story">
			<div class="about__storyDesc">
				<p><strong>Etiam sed semper enim. Mauris nec nulla facilisis arcu sodales iaculis eget non nibh. Proin eu viverra nisl. Praesent tincidunt leo at egestas fringilla. Morbi eget interdum risus. Pellentesque fermentum elementum metus. Quisque faucibus et ligula vitae hendrerit.</strong></p>
				<p>Praesent ac dapibus libero. Suspendisse tincidunt ipsum ligula, et interdum odio dapibus ac. Praesent aliquam consequat sem eu rutrum. Fusce mollis arcu in enim porttitor aliquam. Maecenas blandit ornare efficitur. Phasellus dictum tellus nunc, quis ultricies dui vulputate vitae. Aliquam erat volutpat. Aliquam scelerisque, ante at gravida finibus, lorem arcu egestas nisl, auctor commodo metus eros ac risus.</p>
			</div>
			<div class="about__storyVisual">
				<img src="{% static 'unlabel/dist/img/temp/about-story.jpg' %}" alt="Unlabel Story Visual">
			</div>
		</div>

		<div class="about__carousel carousel">
			<div class="swiper-container carousel_visualsSlider about__carouselVisualsSlider">
				<div class="swiper-wrapper">
					{% for cap in capabilities %}
						<div class="swiper-slide">
							<div class="visual visual--wideLandscape">
								<img src="{% cloudinary_url cap.image %}" alt="{{ cap.name }}">
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="about__carouselFooter">
				<div class="swiper-container carousel_contentsSlider about__carouselContentsSlider">
					<div class="swiper-wrapper">
						{% for cap in capabilities %}
							<div class="swiper-slide">
								<span class="carousel_contentItem title title--medium">We use {{ cap.name }} to {{ cap.description }}</span>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="swiper-container carousel__backgroundsSlider about__carouselBgSlider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="carousel__bgSlide" style="background-color: #EDDDDD;"></div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__bgSlide" style="background-color: #DEEDEE;"></div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__bgSlide" style="background-color: #DDE0ED;"></div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__bgSlide" style="background-color: #F5E5D9;"></div>
						</div>
					</div>
				</div>
				<div>
					<a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
				</div>
			</div>
		</div>

		<div class="about__footer">
			<div class="logo">
			    <span class="logo__icon">
			        <img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
			    </span>
			</div>
			<h2 class="title title--small">{% trans "Style, Introduced." %}</h2>
		</div>

	</div>
</div>

{% endblock content %}