{% extends "global/layout.html" %}

{% load i18n %}
{% load static %}
{% load cloudinary %}

{% block title %}
    {% trans 'Style, Introduced.' %} | {{ block.super }}
{% endblock %}

{% block social_meta_tags %}
    {{ block.super }}
{% endblock %}



{% block body_id %}homepage{% endblock %}
{% block body_class %}homepage{% endblock %}

{% block content %}
    <section class="home__header">
        <div class="container">
            <div class="home__headerWrapper">
                <div class="visual visual--wideLandscape js-scroll c-mask" data-speed="-2">
                    <img src="{% static 'unlabel/dist/img/temp/home-visual.jpg' %}" alt="{% trans 'Header header visual' %}">
                </div>
                <div class="home__headerTitleContainer js-scroll" data-speed="2"> 
                    <h2 class="title title--headline c-mask">
                        <span class="u-block">Unla</span>
                        <span class="u-block">bel<span class="logo"><span class="logo__icon"><img src="{% static 'unlabel/dist/img/logo_dark.svg' %}" alt="{% trans 'Unlabel Logo' %}"></span></span>
                        </span>
                    </h2>
                </div>
                <div class="cols cols--m home__headerCols">
                    <div class="col home__headerIntroContainer">
                        <p class="title title--medium">{% trans 'A digital agency based in NYC focused on providing creative solutions for fashion, lifestyle &amp; retail brands.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home__creators color-context color-context--creators">

        <div class="home__CreatorsBg js-scroll js-scroll-mask js-scroll-mask-right"></div>

        <div class="container">
            <div class="home__creatorsCols">
                <div class="home__creatorsCol home__creatorsCol--left" >
                    {% for project in projects_left %}
                        <article class="home_creatorGridItem js-scroll" data-speed="1">
                            <a href="{% url 'projects:project_detail' project.slug %}" class="u-block" title="{{ project.title }}">
                                <figure>
                                    <div class="img-container img-container--portrait">
                                        <img src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}" />
                                    </div>
                                    <figcaption>
                                        <h3>{{ project.title }}</h3>
                                        <p><small>{{ project.client_name }}</small></p>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    {% endfor %}
                    <div class="home__creatorsTitleContainer js-scroll" data-speed="1">
                        <h2 class="title title--caps">{% trans 'Recent<br> Work' %}</h2>
                    </div>
                    <div class="home__creatorsCtaContainer js-scroll" data-speed="1">
                        <a class="cta cta--dark" href="{% url 'projects:projects' %}">{% trans 'View All Work' %}</a>
                    </div>
                    <div class="home__creatorsSubtitleContainer js-scroll" data-speed="-1">
                        <div class="subtitle subtitle--medium home_creatorGridItem">{% trans 'Every project is completed with quality, style and uniqueness.' %}</div>
                    </div>
                </div>
                <div class="home__creatorsCol home__creatorsCol--middle">
                    {% for project in projects_middle %}
                        <article class="home_creatorGridItem js-scroll" data-speed="-1">
                            <a href="{% url 'projects:project_detail' project.slug %}" class="u-block">
                                <figure>
                                    <div class="img-container img-container--portrait">
                                        <img src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}" />
                                    </div>
                                    <figcaption>
                                        <h3>{{ project.title }}</h3>
                                        <p><small>{{ project.client_name }}</small></p>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    {% endfor %}
                </div>
                <div class="home__creatorsCol home__creatorsCol--right u-desktop-only">
                    {% for project in projects_right %}
                        <article class="home_creatorGridItem js-scroll" data-speed="1">
                            <a href="{% url 'projects:project_detail' project.slug %}" class="u-block">
                                <figure>
                                    <div class="img-container img-container--portrait">
                                        <img src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}" />
                                    </div>
                                    <figcaption>
                                        <h3>{{ project.title }}</h3>
                                        <p><small>{{ project.client_name }}</small></p>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="home__brands color-context color-context--brands">
        <div class="container">
            <h2 class="home__brandsTitle title title--caps js-scroll">{% trans 'Our<br class="u-desktop-only"/> Clients' %}</h2>

            <div class="home__brandsCarousel carousel">
                <div class="cols cols--m cols--align-left cols--align-top">
                    <div class="col brands__carouselColLeft">
                        <div class="swiper-container carousel_visualsSlider home__brandsVisualsSlider js-scroll" data-speed="-2">
                            <div class="swiper-wrapper">
                                {% for client in clients %}
                                    <div class="swiper-slide js-scroll" data-speed="2">
                                        <div class="visual visual--landscape">
                                            <img src="{% cloudinary_url client.image GENERAL_IMAGES %}" alt="{{ client.name }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col brands__carouselColRight">
                        <div class="swiper-container carousel__backgroundsSlider home__brandsBgsSlider">
                            <div class="swiper-wrapper">
                                {% for client in clients %}
                                    <div class="swiper-slide">
                                        <div class="carousel__bgSlide" style="background-color: {% cycle '#EDDDDD' '#DEEDEE' '#DDE0ED' '#F5E5D9' %};"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="home__brandsCarouselContentWrapper">
                            <div class="swiper-container carousel_contentsSlider home__brandsContentsSlider">
                                <div class="swiper-wrapper">
                                    {% for client in clients %}
                                        <div class="swiper-slide">
                                            <h3 class="carousel_contentItem subtitle">{{ client.name|default:'Name' }}</h3>
                                            <div class="carousel__contentItem desc desc--small">{{ client.description|default:'Description'|truncatechars:500  }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="home__brandsCarouselNav">
                                <a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="home__brandsNav">
                <ul class="home__brandsNavList">
                    <li class="home__brandsNavItem js-scroll">
                        <a href="{% url 'clients:client_list' %}" class="cta cta--dark">{% trans 'View Client List' %}</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>

    <section class="home__story">
        <div class="container">
            <div class="home__storyWrapper js-scroll">
                <h2 class="subtitle">{% trans 'Who we are' %}</h2>
                <div class="desc home__storyDesc">{% trans 'We are an eclectic group of creatives that combine a broad range of expertise from technology, advertising, fashion & film industries to introduce a sense of unique style for every project. Through discovery sessions we find out what makes a brand tick and break down each problem into modules to figure out the most effective path to a solution.' %}</div>
            </div>
        </div>
    </section>

    <section class="home__products color-context color-context--products">
        <div class="container">
            <h2 class="title title--caps home__productsTitle js-scroll" data-speed="2">{%trans 'Lastest<br>News' %}</h2>
        </div>
        <div class="grid2 home__productsGrid">
            <ol class="grid2__list">
                {% for article in articles %}
                    <li class="grid2__item js-scroll">
                        <article>
                            <div class="grid__itemInner">
                                <a class="u-block" href="{% url 'articles:article_detail' article.slug %}" title="{{ article.title }}">
                                    <figure>
                                        {% block product_image %}
                                            <div class="img-container img-container--square">
                                                <img src="{% cloudinary_url article.image THUMBNAIL %}" alt="{{ article.name }}" >
                                            </div>
                                        {% endblock %}
                                        <figcaption>
                                            <h2>{{ article.title|capfirst }}</h2>
                                            <h3>
                                                <small>{% trans 'by' %} {{ article.author }}</small>
                                            </h3>    
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endblock %}
