{% load i18n %}
{% load staticfiles %}

<header class="header">
    <div id="header-submenu-overlay" class="header__overlay"></div>
    <div class="header__bar cols cols--align-middle">
        <nav class="header__nav header__nav--primary nav--inline">
            <a href="{% url 'home' %}" title="{% trans 'Home' %}">
                <div class="logo">
                    <span class="logo__label">{% block brand_title %}{% trans 'Unlabel' %}<small>{% trans 'Style, Introduced' %}</small>{% endblock %}</span>
                    <span class="logo__icon">
                        <img src="{% static 'dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
                    </span>
                </div>
            </a>
            <ul class="header__navList nav__list u-desktop-only">
                <li class="header__navListItem">
                    <a class="link link--thick link--discrete" href="/">{% trans 'Home' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--thick link--discrete" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--thick link--discrete" href="{% url 'projects:projects' %}">{% trans 'Projects' %}</a>
                </li>
                <li class="header__navListItem">
                    <a class="link link--thick link--discrete" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--secondary nav--inline">
            <a class="burgerMenu u-mobile-only" href="#mobile-main-nav" title="{% trans 'Toggle Menu' %}">
                <span class="burgerMenu__bar burgerMenu__bar--top"></span>
                <span class="burgerMenu__bar burgerMenu__bar--middle"></span>
                <span class="burgerMenu__bar burgerMenu__bar--bottom"></span>
            </a>
        </nav>
        <div class="drawer drawer--right" id="mobile-main-nav">
            <a href="#close-drawer" class="drawer__backdrop" title="{% trans 'Close Menu' %}"></a>
            <div class="drawer__frame">
                <div class="drawer__header drawer__header--bar">
                    <div class="drawer__headerContent"></div>
                    <a href="#close-drawer" class="drawer__close close" title="{% trans 'Close Menu' %}"></a>
                </div>
                <div class="drawer__scroller">
                    <div class="drawer__content">
                        <ul class="drawer__list">
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="/">
                                    <span class="drawer__linkLabel">{% trans 'Home' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'about' %}">
                                    <span class="drawer__linkLabel">{% trans 'About' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'projects:projects' %}" title="{% trans 'Projects' %}">
                                    <span class="drawer__linkLabel">{% trans 'Projects' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                            <li class="drawer__item">
                                <a class="drawer__link drawer__link--large" href="{% url 'contact' %}" title="{% trans 'Contact' %}">
                                    <span class="drawer__linkLabel">{% trans 'Contact' %}</span>
                                    <span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="drawer__footer">
                        <div class="drawer__branding">
                            <a href="{% url 'home' %}" title="{% trans 'Home' %}">
                                <div class="logo">
                                    <span class="logo__label">Unlabel</span>
                                    <span class="logo__icon">
                                        <img src="{% static 'dist/img/logo_dark.svg' %}" alt="Unlabel Logo">
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>