$mq_breakpoints_sizes = 768px 1024px 1280px 1440px
$mq_breakpoint_mobile = 425

$mq_mobile = '(max-width: '+$mq_breakpoint_mobile+')'

$mq_breakpoints_name = 's' 'm' 'l' 'xl' 'xxl'

$mq_s_only = '(max-width: '+($mq_breakpoints_sizes[0] - 1)+')'

$mq_m = '(min-width: '+$mq_breakpoints_sizes[0]+')'
$mq_m_only = '(min-width: '+$mq_breakpoints_sizes[0]+') and (max-width: '+($mq_breakpoints_sizes[1] - 1)+')'

$mq_l = '(min-width: '+$mq_breakpoints_sizes[1]+')'
$mq_l_only = '(min-width: '+$mq_breakpoints_sizes[1]+') and (max-width: '+($mq_breakpoints_sizes[2] - 1)+')'

$mq_xl = '(min-width: '+$mq_breakpoints_sizes[2]+')'
$mq_xl_only = '(min-width: '+$mq_breakpoints_sizes[2]+') and (max-width: '+($mq_breakpoints_sizes[3] - 1)+')'

$mq_xxl = '(min-width: '+$mq_breakpoints_sizes[3]+')'

$mq_retina = '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'

meta[name="device-size"] {
  font-family: unquote('s')
  @media $mq_m {
    font-family: unquote('m')
  }
  @media $mq_l {
    font-family: unquote('l')
  }
  @media $mq_xl {
    font-family: unquote('xl')
  }
  @media $mq_xxl {
    font-family: unquote('xxl')
  }
}