{% extends "partials/triptych.html" %}
{% load staticfiles %}
{% load cloudinary %}

{% block triptych_extraClasses %}color-context color-context--brands{% endblock %}

{% block triptych_content %}
	<ul class="cols cols--m-3">
		{% for client in clients_triptych %}
			<li class="col js-scroll" data-speed="2">
				<a href="{% url 'clients:client_detail' client.slug %}" class="triptych__itemLink">
					<figure>
						<div class="img-container img-container--portrait">
	                        <img src="{% cloudinary_url client.image %}" alt="{{ client.name }}">
						</div>
						<figcaption>
							<p>{{ client.name }}</p>
							<p><small>{{ client.city }}, {% if client.state %}{{ client.state }},{% endif %} {{ client.get_country_display }}</small></p>
						</figcaption>
					</figure>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
