input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  appearance: none
  border-radius: 0
  background-color: #fff
  border: 1px solid $color_formInput
  padding: 12px
  line-height: 20px
  font-size: 14px
  width: 100%
  
  +placeholder() {
    color: #A3A3A3
  }
  
  &.has-error {
    border-color: $color_danger
  }
}

input[type=number] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none
  }
}