{% extends "global/base.html" %}
{% load staticfiles %}

{% block styles %}
    {% if debug %}
        <link rel="stylesheet" type="text/css" href="{% static 'dist/css/bundle.css' %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'dist/css/bundle.min.css' %}" />
    {% endif %}
{% endblock %}

{% block social_meta_tags %} 
    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="700" />
    <meta property="og:url" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}/">
    <meta property="og:site_name" content="{{ site.name }}l">
    {% block facebook_extra_tags %}
        <meta property="og:title" content="{{ site.name }} | Style, Introduced.">
        <meta property="og:description" content="Unlabel is a studio focused on driving growth, forging creative partnerships &amp; providing innovative technology solutions for creative individuals + lifestyle &amp; fashion brands.">
        <meta property="og:image:secure_url" content="{% static 'dist/img/temp/home-visual.jpg' %}">
        <meta property="og:image" content="{% static 'dist/img/temp/home-visual.jpg' %}">
    {% endblock %}

    <!-- Twitter -->
    <meta name="twitter:image:width" content="600">
    <meta name="twitter:image:height" content="600">
    {% block twitter_extra_tags %}
        <meta name="twitter:title" content="Style, Introduced.">
        <meta name="twitter:description" content="Unlabel is a studio focused on driving growth, forging creative partnerships &amp; providing innovative technology solutions for creative individuals + lifestyle &amp; fashion brands.">
        <meta name="twitter:image" content="{% static 'dist/img/temp/home-visual.jpg' %}">
    {% endblock %}
{% endblock %}

{% block layout %}
    <div id="app" class="unlabel-scroll">

        {% include "partials/header.html" %}

        {% block content_wrapper %}
            {# Div exists for AJAX updates to entire content section #}
            <main id="content_inner" class="{% block content_classnames %}{% endblock %}">
                {% block content %}{% endblock %}
            </main>
        {% endblock %}

        {% include "partials/footer.html" %}
    </div>
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

