{% extends "partials/triptych.html" %}
{% load staticfiles %}
{% load cloudinary %}

{% block triptych_extraClasses %}color-context color-context--brands{% endblock %}

{% block triptych_content %}
	<ul class="cols cols--m-3">
		{% for project in projects_triptych %}
			<li class="col js-scroll" data-speed='1'>
				<a href="{% url 'projects:project_detail' project.slug %}" class="triptych__itemLink">
					<figure>
						<div class="img-container img-container--portrait">
	                        <img src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}">
						</div>
						<figcaption>
							<p>{{ project.title }}</p>
							<p><small>{{ project.client_name }}</small></p>
						</figcaption>
					</figure>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
