
{% load i18n %}
<ol class="grid__list color-context color-context--products">
    {% for obj in selected_products_obj %}
        <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
            <article>
                <div class="grid__itemInner">
                
                    {% include "dashboard/creators/products/partials/product.html" %}
                    <a href="{% url 'creators:product_review_create' obj.pk %}" class="cta cta--dark grid__itemAction">Review Product</a>
                </div>
            </article>
        </li>
    {% endfor %}
</ol>