{% extends "dashboard/brands/base_dashboard.html" %}

{% load i18n %}

{% block content %}
	<form id="profile_form" class="form form--stacked" method="post" enctype="multipart/form-data">
		<div class="container container--medium container--left container--pad48Bottom">
			{% csrf_token %}
            {% include 'partials/form_fields.html' %}
		</div>
		<hr>
		<div class="container container--medium container--left container--pad24">
			<button class="cta cta--dark" type="submit" id="id_save_button">{% trans "Save Changes" %}</button>
		</div>
	</form>
	<div class="u-mobile-only">
		<hr>
		<div class="container container--pad24 container--medium container--left">
			<a href="{% url 'logout' %}" class="link">{% trans 'Sign out' %}</a>
		</div>
	</div>
{% endblock content %}