.coupon-form {
  position: relative
  width: 100%
  
  .form-group,
  .form__field {
    margin: 0
  }
  label {
    display: none
  }
  .form-control {
    padding-right: 60px
  }
}

.cta.coupon-form__submit {
  position: absolute
  top: 8px
  right: 8px
  bottom: 8px
  left: auto
  width: auto
  padding: 0 12px
  height: auto
}