.form {
}

.form__row {
  &--s-2 {
    display: flex
    
    // all children form__group
    & > .form__group {
      width: 50%
      
      // all children form__group except first one
      & + .form__group {
        margin-left: 24px
      }
    }
  }
  &--m-2 {
    @media $mq_m {
      display: flex
    }
    
    // all children form__group
    & > .form__group {
      @media $mq_m {
        width: 50%
      }
      
      // all children form__group except first one
      & + .form__group {
        @media $mq_m {
          margin-left: 32px
        }
      }
    }
  }
}

.form__group {
  margin-top: 24px
  
  @media $mq_m {
    margin-top: 32px
  }
  
  .form--stacked & {
    @media $mq_m {
      display: flex
      align-items: flex-start
    }
  }
  
  &.has-error {
    input[type="text"], 
    input[type="number"],
    input[type="email"], 
    input[type=password],
    select,
    textarea,
    .fileinput .fileinput__filename {
      border-color: $color_danger
    }
  }
}

.form__label {
  
  .form--stacked & {
    font-family: $font_bold
    
    @media $mq_m {
      width: 150px
      text-align: right
      margin-right: 32px
      min-height 46px
      display: flex
      align-items: center
      justify-content: flex-end
    }
  }
}

.form__field {
  margin-top: 12px
  
  .form--stacked & {
    @media $mq_m {
      margin-top: 0
      flex-grow: 1
    }
    
    input[type=text]:not([id*='id_line']) // fix address fields issue
    input[type=number]
    input[type=password],
    .select {
      @media $mq_m {
        width: 50%
      }
    }
  }
}

.form__fieldMessage {
  margin-top: 5px
  font-size: 11px
  
  &--error {
    color: $color_danger
  }
}

.form__passwordSecurity {
  margin-top: 12px
  font-size: 11px
  font-family: $font_bold
  
  .password-security {
    @media $mq_m {
      margin-left: 16px
    }
  }
}

.form__actions {
  margin-top: 42px
  
  @media $mq_s_only {
    .cta {
      display: block
      width: 100%
      text-align: center
    }
    
    .cta + .cta {
      margin-top: 12px
    }
  }
    
  @media $mq_m {
    margin-top: 48px
    
    .cta + .cta {
      margin-left: 12px
    }
  }
  
  .form--stacked & {
    @media $mq_m {
      padding-left: 150px + 32px // label width + gutter
    }
  }
}

.form__alternative {
  margin-top: 42px
  
  @media $mq_m {
    margin-top: 48px
  }
}

.form__alert {
  margin: 24px 0
  
  &--error {
    color: $color_danger
  }
}
  
