.password-security {
  display: inline-block
  
  &[data-password-security-score="0"],
  &[data-password-security-score="1"] {
    .password-security__bar:nth-child(1) {
      background-color: red
    }
  }
  &[data-password-security-score="2"] {
    .password-security__bar:nth-child(1),
    .password-security__bar:nth-child(2) {
      background-color: orange
    }
  }
  &[data-password-security-score="3"] {
    .password-security__bar:nth-child(1),
    .password-security__bar:nth-child(2),
    .password-security__bar:nth-child(3) {
      background-color: yellow
    }
  }
  &[data-password-security-score="4"] {
    .password-security__bar {
      background-color: green
    }
  }
}

.password-security__bar {
  display: inline-block
  width: 24px
  height: 4px
  background-color: $color_darkGrey
  vertical-align: middle
  
  & + .password-security__bar {
    margin-left: 2px
  }
}