.share {
  @media $mq_s_only {
    text-align: center
  }
}

.share__title {
  font-family: $font_bold
}

.share__list {
  margin-left: -7px // better alignement of icons (because they are in a bigger clickable area for accessibility purposes)
}

.share__item {
  display: inline-block
}