.categories {
  line-height: 24px
  
  .nested-lists__list {
    .nested-lists__list { // only nested lists
      padding-left: 24px 
    }
  }
}

.categories__link {
  &.is-active {
    font-family: $font_bold
  }
}