.color-context {
  &--account,
  &--accounts, {
    a:hover {
      color: $color_account_darken
    }
  }
  
  &--creator,
  &--creators, {
    a:hover {
      color: $color_creator_darken
    }
  }
  
  &--brand,
  &--brands, {
    a:hover {
      color: $color_brand_darken
    }
  }
  
  &--product,
  &--products, {
    a:hover {
      color: $color_product_darken
    }
  }
}