.register {
  
}

.register__header {
  padding: 48px 0
  
  @media $mq_m {
    padding: 96px 0 48px
  }
}

.register__headerTitle {
  margin-bottom: 32px
  
  @media $mq_m {
    margin-bottom: 48px
  }
}

.register__headerActions {
  margin-top: 48px
}

.register__main {
  margin: 48px 0 96px
}