.review {
  background-color: $color_product
}

.review__content {
  @media $mq_s_only {
    margin-top: 42px
  }
  @media $mq_m {
    padding: 96px 32px 0 
    max-width: (354px + 32px * 2) // max-width + horizontal paddings
    margin: 0 auto
  }
  
  .desc {
    @media $mq_s_only {
      margin-top: 24px
      padding: 0 40px
    }
    @media $mq_m {
      margin-top: 48px
    }
  }

  .sizechart {
    @media $mq_s_only {
      margin-top: 42px
    }
    @media $mq_m {
      margin-top: 48px
    }
  }
}