.search-form {
}

.search-form__wrapper {
  position: relative
}

.search-form__fieldset {
  position: relative
  padding-left: (40px + 16px) // submit width + gutter

  @media $mq_m {
    padding-left: (40px + 32px) // submit width + gutter
  }
}

.search-form__label {
  display: block
  font-family: $font_bold
  color: $color_grey
}

.search-form__field {
  input[type=text],
  input[type=search] {
    display: block
    width: 100%
    font-family: $font_display
    appearance: none
    border: 0
    border-radius: 0
    background-color: transparent
    font-size: 32px
    margin-top: 16px
    text-transform: uppercase
    color: $color_darkGrey
    
    @media $mq_m {
      font-size: 64px
    }
    
    .search-form--dark & {
      color: #fff
    }
    
    placeholder() {
      color: #333333
    }
  }
}

.search-form__submit {
  appearance: none
  border: 0
  border-radius: 0
  background-color: transparent
  color: $color_darkGrey
  padding: 0
  position: absolute
  bottom: 0
  left: 0
  
  .search-form--dark & {
    color: #fff
  }
  
  @media $mq_m {
    bottom: 15px // better alignement with search input
    .fonticon {
      font-size: 32px
    }
  }
}