{% extends "global/layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}

{% block title %}
    {% trans 'About' %} | {{ block.super }}
{% endblock %}

{% block body_id %}about-page{% endblock %}
{% block body_class %}about-page{% endblock %}


{% block content_classnames %}color-context color-context--creators{% endblock %}

{% block content %}
	<header class="invite__header">
	  <div class="container">
	      <div class="invite__headerWrapper">
	          <div class="invite__headerTitleContainer js-scroll" data-speed='1'>
	              <h1 class="title title--caps">{% trans "Our<br> Studio." %}</h1>
	          </div>
	          <div class="invite__headerVisualContainer js-scroll" data-speed='2'>
	              <img src="{% static 'dist/img/temp/home-visual.jpg' %}" alt="{% trans 'Unlabel Visual' %}">
	          </div>
	      </div>
	  </div>
	</header>

	<div class="invite__descContainer">
	  <div class="container container--medium">
	      <div class="desc">
	          {% trans 'Founded in 2018 and based in NYC, we are an eclectic group of creatives that combine a broad range of expertise from technology, advertising, fashion & film industries to introduce a sense of unique style for every project. Through discovery sessions we find out what makes a brand tick and break down each problem into modules to figure out the most effective path to a solution.' %}
	      </div>
	  </div>
	</div>

	<div class="invite__contact">
	  <div class="container container--medium">
	      <p class="invite__contactWrapper">
	          <span class="invite__contactLabel">{% trans "Ready to inject style into your next project?<br><br>Take a look at some of our services below and lets get started working together to build your dream." %}</span>
	          <br>
	          <br>
	          <a href="mailto:info@unlabel.us">info@unlabel.us</a>
	      </p>
	  </div>
	</div>

	<div class="invite__list">
		<div class="container container--medium">
	      	<div class="cols cols--m-2 cols--m-gutter32">
	          	<div class="col">
	              <div class="invite__listItem">
	                  <h3 class="title title--small">Technology</h3>
	                  <div class="invite__listItemDesc">
	                  	<ul>
							<li>Full Stack Development</li>
							<li>Websites & Web Applications</li>
							<li>Mobile & App Development</li>
							<li>E-Commerce</li>
							<li>CMS</li>
						</ul>
	                  </div>
	              </div>
	              <div class="invite__listItem">
	                  <h3 class="title title--small">Design</h3>
	                  <div class="invite__listItemDesc">
	                  	<ul>
	                  		<li>Web &amp; Mobile UI</li>
	                  		<li>Art Direction</li>
	                  		<li>Interaction Design</li>
	                  		<li>Logo & Identity</li>
	                  		<li>Brand Books & Style Guides</li>
	                  		<li>User Experience Web Design</li>
							<li>Print & Publication Design</li>
							<li>Packaging</li>
						</ul>
	                  </div>
	              </div>
	          	</div>
	          	<div class="col col--right">
	              	<div class="invite__listItem">
	                  <h3 class="title title--small">Influence</h3>
	                  <div class="invite__listItemDesc">
	                  	<ul>
	                      <li>Influencer Collaborations</li>
	                      <li>Social Media Campaigns</li>
	                      <li>Campaign Management</li>
	                      <li>Creative Concepts & Ideas</li>
	                      <li>Storytelling</li>
	                  </ul>
	                  </div>
	            	</div>
	             	<div class="invite__listItem">
	                	<h3 class="title title--small">Content</h3>
	                	<div class="invite__listItemDesc">
	                		<ul>
							<li>Copywriting</li>
							<li>Photo Production</li>
							<li>Video Production</li>
							<li>Product Production</li>
						</ul>
	                  	</div>
	           		</div>
	        	</div>
	      	</div>
		</div>
	</div>

	{% trans "Recent Projects" as triptych_title %}
  	{% include "projects/partials/projects_triptych.html" with triptych_title=triptych_title triptych_isWrapperWider=True %}
{% endblock content %}