{% extends "global/layout.html" %}

{% load i18n %}
{% load static %}
{% load cloudinary %}

{% block title %}
    {% trans 'Style, Introduced.' %} | {{ block.super }}
{% endblock %}

{% block body_id %}homepage{% endblock %}
{% block body_class %}homepage{% endblock %}

{% block content %}
    <section class="about"> 
        <div class="container container--m-pad">
            <div class="about__header">
                <div class="about__titleContainer js-scroll" data-speed="1">
                    <h2 class="title title--caps title--destructured">
                        <span class="u-block">He-</span>
                        <span class="u-block">llo.</span>
                    </h2>
                </div>
                <div class="about__descContainer">
                    <p class="desc">{% trans 'Unlabel began with a love for fashion, design, and authentic online experiences for fashion lovers. Originally inspired by the diverse fashion scenes of NYC and Los Angeles, Unlabel grew into a multi-disciplinary studio. We believe in introducing a sense of style in everything that we do.' %}</p>
                </div>
            </div>

            <div class="about__story">
                <div class="about__storyDesc js-scroll" data-speed="1"></div>
                <div class="about__storyVisual js-scroll" data-speed="-1">
                    {% if debug %}
                        <img src="{% static 'dist/img/temp/homepage-visual.jpg' %}" alt="Unlabel Homepage Visual" />
                    {% else %}
                        <img src="https://res.cloudinary.com/hqz2myoz0/image/upload/c_fit,q_auto,w_1000/v1539284188/homepage-visual_dma5pk.jpg" alt="Unlabel Story Visual" />
                    {% endif %} 
                </div>
            </div>
        </div>
    </section>

    <section class="home__creators color-context color-context--creators">
        <div class="home__CreatorsBg js-scroll js-scroll-mask js-scroll-mask-right"></div>

        <div class="container">
            <div class="home__creatorsCols">
                <div class="home__creatorsCol home__creatorsCol--left">
                    <article class="home_creatorGridItem">
                        <figure>
                            <div class="img-container img-container--portrait">
                                {% if debug %}
                                     <img src="{% static 'dist/img/temp/tech.jpg' %}" alt="Unlabel Technology" />
                                {% else %}
                                    <img src="https://res.cloudinary.com/hqz2myoz0/image/upload/c_fit,q_auto,w_1000/v1539284187/tech_cwzzgq.jpg" alt="Unlabel Technology" />
                                {% endif %}
                               
                            </div>
                            <figcaption>
                                <h3>{% trans 'We help you build your dream product' %}</h3>
                                <p><small>{% trans 'Technology' %}</small></p>
                            </figcaption>
                        </figure>
                    </article>
                    <div class="home__creatorsTitleContainer">
                        <h2 class="title title--caps">{% trans 'Our<br> Studio' %}</h2>
                    </div>
                    <div class="home__creatorsCtaContainer">
                        <a class="cta cta--dark" href="{% url 'about' %}">{% trans 'Discover Unlabel' %}</a>
                    </div>
                    <!-- <div class="home__creatorsSubtitleContainer">
                        <div class="subtitle subtitle--medium home_creatorGridItem">{% trans 'Every project is completed with quality, style and uniqueness.' %}</div>
                    </div> -->
                </div>
                
                <div class="home__creatorsCol home__creatorsCol--middle js-scroll" data-speed='2'>
                    <article class="home_creatorGridItem">
                        <figure>
                            <div class="img-container img-container--portrait">
                                {% if debug %}
                                     <img src="{% static 'dist/img/temp/design.jpg' %}" alt="Unlabel Design" />
                                {% else %}
                                    <img src="https://res.cloudinary.com/hqz2myoz0/image/upload/c_fit,q_auto,w_1000/v1539284179/design_fxd5pt.jpg" alt="Unlabel Design" />
                                {% endif %}
                            </div>
                            <figcaption>
                                <h3>{% trans 'We design to engage and delight your customers' %}</h3>
                                <p><small>{% trans 'Design' %}</small></p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="home__creatorsCol home__creatorsCol--right u-desktop-only">
                    <article class="home_creatorGridItem">
                        <figure>
                            <div class="img-container img-container--portrait">
                                {% if debug %}
                                     <img src="{% static 'dist/img/temp/influence.jpg' %}" alt="Unlabel Influence" />
                                {% else %}
                                    <img src="https://res.cloudinary.com/hqz2myoz0/image/upload/c_fit,q_auto,w_1000/v1539284187/influence_haekie.jpg" alt="Unlabel Influence" />
                                {% endif %}
                            </div>
                            <figcaption>
                                <h3>{% trans 'We help you get the word out about your brand' %}</h3>
                                <p><small>{% trans 'Influence' %}</small></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="home_creatorGridItem">
                        <figure>
                            <div class="img-container img-container--portrait">
                                {% if debug %}
                                    <img src="{% static 'dist/img/temp/content.jpg' %}" alt="Unlabel Content" />
                                {% else %}
                                    <img src="https://res.cloudinary.com/hqz2myoz0/image/upload/c_fit,q_auto,w_1000/v1539284180/content_rkopt2.jpg" alt="Unlabel Content" />
                                {% endif %}
                            </div>
                            <figcaption>
                                <h3>{% trans 'We create content that keeps your customers coming back for more' %}</h3>
                                <p><small>{% trans 'Content' %}</small></p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section>
   
    <section class="home__brands color-context color-context--brands">
        <div class="container">
            <h2 class="home__brandsTitle title title--caps">{% trans 'Our<br class="u-desktop-only"/> Projects' %}</h2>

            <div class="home__brandsCarousel carousel">
                <div class="cols cols--m cols--align-left cols--align-top">
                    <div class="col brands__carouselColLeft">
                        <div class="swiper-container carousel_visualsSlider home__brandsVisualsSlider">
                            <div class="swiper-wrapper">
                                {% for project in projects %}
                                    <div class="swiper-slide">
                                        <div class="visual visual--landscape js-scroll js-scroll-mask js-scroll-mask-right">
                                            <img src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col brands__carouselColRight">
                        <div class="swiper-container carousel__backgroundsSlider home__brandsBgsSlider">
                            <div class="swiper-wrapper">
                                {% for project in projects %}
                                    <div class="swiper-slide">
                                        <div class="carousel__bgSlide" style="background-color: {% cycle '#EDDDDD' '#DEEDEE' '#DDE0ED' '#F5E5D9' %};"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="home__brandsCarouselContentWrapper">
                            <div class="swiper-container carousel_contentsSlider home__brandsContentsSlider">
                                <div class="swiper-wrapper">
                                    {% for project in projects %}
                                        <div class="swiper-slide">
                                            <h3 class="carousel_contentItem subtitle">{{ project.title }}</h3>
                                            <div class="carousel__contentItem desc desc--small">
                                                <!-- {{ project.description|truncatechars:500|safe }}<br><br> -->
                                                <a class="link" href="{% url 'projects:project_detail' project.slug %}">View Project</a></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="home__brandsCarouselNav">
                                <a class="carousel__btn carousel__btn--prev" href="#prev"><span class="fonticon fonticon--smallBox fonticon--carouselArrowLeft"></span></a><a class="carousel__btn carousel__btn--next" href="#next"><span class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="home__brandsNav">
                <ul class="home__brandsNavList">
                    <li class="home__brandsNavItem">
                        <a href="{% url 'projects:projects' %}" class="cta cta--dark">{% trans 'View All Projects' %}</a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>

    <section class="about__footer" style="margin: 50px 0;">
        <div class="logo">
            <span class="logo__icon">
                <img src="{% static 'dist/img/logo_full.svg' %}" alt="Unlabel Logo">
            </span>
        </div>
        <h2 class="title title--small">{% trans "Style, Introduced." %}</h2>
    </section>
{% endblock %}
