$font_regular = 'FaroWeb-RegularLucky'
$font_bold = 'FaroWeb-BoldLucky'
$font_display = 'FaroWeb-DisplayLucky'

// TODO : remove if not used
// $font_body = $font_regular
// $font_subtitle = $font_bold
// $font_price = $font_bold
// $font_btn = $font_bold
// $font_caption = $font_bold
// $font_title = $font_display
// $font_headline = $font_display