{% extends "global/layout.html" %}

{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}


{% block title %}
    {{ project.title }} | {{ block.super }}
{% endblock %}

{% block body_id %}project-detail{% endblock %}
{% block body_class %}project-detail{% endblock %}

{% block social_meta_tags %}
    {{ block.super }}

    {% block facebook_extra_tags %}
        <meta property="og:title" content="{{ project.title }}">
        <meta property="og:description" content="{{ project.description }}">
        <meta property="og:image:secure_url" content="{% cloudinary_url project.cover_image %}">
        <meta property="og:image" content="{% cloudinary_url project.cover_image %}">
    {% endblock %}

    {% block twitter_extra_tags %}
        <meta name="twitter:title" content="{{ project.title }}">
        <meta name="twitter:description" content="{{ project.description }}">
        <meta name="twitter:image" content="{% cloudinary_url project.cover_image %}">
    {% endblock %}
{% endblock %}

{% block content_classnames %}color-context color-context--brands{% endblock %}

{% block content %}
    <section class="invite__header">
        <div class="container">
            <div class="invite__headerWrapper">
                <div class="invite__headerTitleContainer">
                    <h1 class="title title--caps">{{ project.title }}</h1>
                </div>
                <div class="invite__headerVisualContainer">
                    <img style='margin: 0 auto;' src="{% cloudinary_url project.cover_image GENERAL_IMAGES %}" alt="{{ project.title }}">
                </div>
            </div>
        </div>
    </section>

    <section class="invite__descContainer">
        <div class="container container--medium">
            <div class="desc">
                {{ project.description|safe }} 
            </div>
        </div>
    </section>

    <section class="invite__contact">
        <div class="container container--medium">
            <div class="invite__contactWrapper">
                <p class="invite__contactLabel" >Client: <span style="font-family:'FaroWeb-RegularLucky';">{{project.client_name}}</span></p>
                <br>
                <p class="invite__contactLabel">Services: <span style="font-family:'FaroWeb-RegularLucky';">{{project.services}}</span></p>
                <div class="share" style="margin-top: 50px;">
                    <p class="share__title">{% trans 'Share' %}</p>
                    <ul class="share__list">
                        <li class="share__item">
                            <a href="mailto:?subject={{ project.title }}&body={{ project.description }}. View project here: {{ request.build_absolute_uri }}" title="{% trans 'Share by Email' %}"><span class="fonticon fonticon--email fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a target="_blank" href="https://www.facebook.com/dialog/share?app_id=1421811444777881&display=popup&href={{request.build_absolute_uri}}&redirect_uri={{request.build_absolute_uri}}" title="{% trans 'Share on Facebook' %}"><span class="fonticon fonticon--facebook fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a target="_blank" href="https://twitter.com/share?url={{ request.build_absolute_uri }}&text={{ project.description }}" title="{% trans 'Share on Twitter' %}"><span class="fonticon fonticon--twitter fonticon--smallBox"></span></a>
                        </li>
                        <li class="share__item">
                            <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&description={{ project.description }}" title="{% trans 'Share on Pinterest' %}"><span class="fonticon fonticon--pinterest fonticon--smallBox"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="home__header">
        <div class="container">
            {% for images in project_images %}
                <div class="home__headerWrapper">
                    <div class="visual js-scroll js-scroll-mask js-scroll-mask-right" data-speed='1' data-viewport-offset='0.3'>
                        <img style='object-fit: contain !important;' src="{% cloudinary_url images.image GENERAL_IMAGES %}" alt="{{ project.title }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
   
    {% trans "More Projects" as triptych_title %}
    {% include "projects/partials/projects_triptych.html" with triptych_title=triptych_title triptych_isWrapperWider=True %}

{% endblock content %}

{% block extrascripts %}{% endblock extrascripts %}
