{% extends "global/layout_2_col.html" %}

{% load i18n %}
{% load cloudinary %}

{% block title %}
    {% trans 'News' %} | {{ block.super }}
{% endblock %}

{% block social_meta_tags %}
    {{ block.super }}
{% endblock %}

{% block content_classnames %}color-context color-context--products{% endblock %}

{% block layout_extra_classnames %}grid--borderTopLess{% endblock %}
{% block layout_sidebar_extra_classnames %}u-desktop-only{% endblock %}

{% block grid_header_titleContent %}
    <h1 class="title title--caps c-mask">Lastest News</h1>
{% endblock %}

{% block grid_header_filters %}{% endblock %}

{% block grid_header_sortBy %}{% endblock %}

{% block grid_header_results %}
    {% include "partials/number_of_results.html" %}
{% endblock %}

{% block column_left %}{% endblock %}

{% block content %}
    {% if articles %}
        <ol class="grid__list color-context color-context--products">
            {% for article in articles %}
                <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                    <article>
                        <div class="grid__itemInner">
                            <a class="u-block" href="{% url 'articles:article_detail' article.slug %}" title="{{ article.title }}">
                                <figure>
                                    <div class="img-container img-container--square">
                                        <img src="{% cloudinary_url article.image %}" alt="{{ article.title }}">
                                    </div>
                                    <figcaption>
                                        <h2>{{ article.title }}</h2>
                                        <h3><small>by {{article.author }}</small></h3> 
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">{% trans "No articles posted." %}</p>
        </div>
    {% endif %}
{% endblock content %}

{% block after_layout %}
    <div class="grid__paginationContainer">
        {% include "partials/pagination.html" %}
    </div>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
