{% extends "dashboard/creators/dashboard.html" %}

{% load i18n %}

{% block grid_header_titleContent %}
    <h2 class="title title--small">{% trans "Available Products" %}</h2>
{% endblock %}

{% block grid_header_results %}
    <div>
    {% if products|length > 1 %}

        <strong>{{products.count}}</strong>&nbsp;{% trans 'products' %}

    {% elif products|length == 1 %}
 
        <strong>{{products.count}}</strong>&nbsp;{% trans 'product' %}
    

    {% else %}

        <strong>{{products.count}}</strong>&nbsp;{% trans 'products' %}
    
    {% endif %}
</div>
{% endblock %}

{% block content %}
    {% if products %}
        {% include "dashboard/creators/products/partials/products_gridList.html" %}
    {% else %}
        <div class="grid__emptyMessage">
            <p class="missing">
                
                {% blocktrans %}
                    No products currently available for review that match your preferences.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
{% endblock content %}

{# block after_layout #}
    {% if products %}
        <div class="grid__paginationContainer color-context color-context--products">
            {% include "partials/pagination.html" %}
        </div>
    {% endif %}
{# endblock after_layout #}

