{% extends "global/layout.html" %}

{% load i18n %}

{% block title %}
    Add Product | {{ block.super }}
{% endblock %}

{% block grid_header_title %}
{% endblock %}

{% block content %}
	<form id="profile_form" class="form form--stacked" method="post" enctype="multipart/form-data">
		<div class="container container--medium container--left container--pad48Bottom">
			{% csrf_token %}
            {% include 'partials/form_fields.html' %}
		</div>
		<hr>
		<div class="container container--medium container--left container--pad24">
			<button class="cta cta--dark" type="submit" id="id_save_button">{% trans "Save" %}</button>
		</div>
	</form>
	<div>
		<hr>
		<div class="container container--pad24 container--medium container--left">
			<a href="{% url 'brands:products_list' %}" class="link">{% trans 'Cancel' %}</a>
		</div>
	</div>
{% endblock content %}