.home__header {
  margin: 30px 0
  
  @media $mq_m {
    padding: 48px 0 0 0
  }
}

.home__headerWrapper {
  position: relative
  padding: 92px 0 0 0
  
  @media $mq_m {
    padding: 48px 0 0 0
  }
}

.home__headerVisualContainer {
}

.home__headerCols {
  position relative // over visual
}

.home__headerTitleContainer {
  position: absolute
  top: 0
  right: 0
  z-index 1
  
  @media $mq_m {
    
  }
  
  .title {
    @media $mq_m {
      transform: translate(15px, -15px)
    }
  }
  
  .logo {
    width: size = 30px
    height: size
    transform: translate(0, -20px)
    
    @media $mq_m {
      width: size = 60px
      height: size
      transform: translate(0, -40px)
    }
  }
}

.home__headerIntroContainer {  
  z-index 2 // over .home__headerVisualContainer
  padding: 0 48px 0 24px
  margin-top: -13px
  
  @media $mq_m {
    padding: 0 48px
    margin-top: -76px
  }
  
  @media $mq_l {
    padding: 0 96px
    max-width (520px + 2 * 96px)
  }
}

.home__headerActions {
  @media $mq_s_only {
    text-align: center
    margin-top: 42px
  }
  
  @media $mq_m {
    margin-top: 64px
  }
}

.home__creators {
  position relative
  margin: 92px 0
  
  @media $mq_m {
    margin: 160px 0 120px
  }
  
  .container {
    position: relative // over .homeCreatorsBg
  }
}

.home__CreatorsBg {
  position absolute
  left: 0
  top: 40px
  bottom: 0
  width: 100%
  transform: translate(-25%, 0)
  background-color: $color_creator
  
  @media $mq_m {
    top: 90px
    transform: translate(-43%, 0)
  }
}

.home__creatorsCols {
  display: flex
  align-items: stretch
}

.home__creatorsCol {
  @media $mq_m {
    width: (100%/3)
  }

  & + .home__creatorsCol {
    margin-left 32px
    
    @media $mq_m {
      margin-left 64px
    }
    
    @media $mq_l {
      margin-left 96px
    }
  }
  
  &--left {
    padding-bottom: 44px
    
    @media $mq_s_only {
      width: 60%
    }
    
    @media $mq_m {
      padding-bottom: 80px
    }
  }

  &--middle {
    @media $mq_s_only {
      width: 40%
      padding-top: 112px
    }
    
    @media $mq_m {
      display: flex
      flex-direction: column
      align-items: stretch
      padding-top: 240px
    }
    
    @media $mq_l {
      padding-top: 0
      justify-content: center
    }
  }
  
  &--right {
    @media $mq_l {
      display: flex
      flex-direction: column
      align-items: stretch
      justify-content: center
    }
    
    .home_creatorGridItem {
      & + .home_creatorGridItem {
        padding-top: 90px
      }
    }
  }
}

.home__creatorsTitleContainer {
  margin-top: 42px
  
  @media $mq_m {
    margin-top: 78px
  }
}

.home__creatorsCtaContainer {
  margin-top: 24px
  
  @media $mq_m {
    margin-top: 40px
  }
}

.home__creatorsSubtitleContainer {
  margin-top: 42px
  
  @media $mq_m {
    margin-top: 48px
  }
  
  @media $mq_l {
    transform: translate(100%, 0)
    .subtitle {
      transform: translate(96px, 0) // equals to grid gutter
    }
  }
}

.home_creatorGridItem {
  @media $mq_s_only {
    img {
      max-width 114px
    }
  }
  
  @media $mq_m {
    max-width 288px
  }
}

.home__brands {
  margin: 92px 0 78px
  overflow-x: hidden
  
  @media $mq_m {
    margin: 128px 0
  }
}

.home__brandsTitle {
  position relative
  z-index 3 // over .home__brandsCarousel
}

.home__brandsCarousel {
  margin-top: 28px
  
  @media $mq_m {
    margin-top: 48px
  }
}

.brands__carouselColLeft {
  position relative
  z-index 2 // over .brands__carouselColRight
  @media $mq_s_only {
    margin-right 56px
  }
  
  @media $mq_m {
    width: 50%
    margin-left: 48px
  }
  
  @media $mq_l {
    margin-left: 96px
  }
}

.brands__carouselColRight {
  position relative
  padding 42px 0 48px 32px
  
  @media $mq_s_only {
    margin-left 32px
    padding-right 32px
  }
  
  @media $mq_m {
    width: auto
    max-width (290px + 32px * 2)
    padding 42px 32px 48px 
  }
}

.home__brandsBgsSlider {
  position absolute
  top: 0
  left: 0
  width: 1000%
  height calc(100% + 125px)
  transform: translate(0, -125px)
  
  @media $mq_m {
    height calc(100% + 80px)
    transform: translate(-220px, -80px)
  }
}

.home__brandsCarouselContentWrapper {
  position relative
  z-index 2 // over .home__brandsBgsSlider
}

.home__brandsContentsSlider {  
  .carousel__contentItem.desc {
    margin-top: 28px

    @media $mq_m {
      margin-top: 38px
    }
  }
}

.home__brandsCarouselNav {
  margin-top: 42px
}

.home__brandsNav {
  margin-top: 80px
  text-align center
}

.home__brandsNavList {
  @media $mq_m {
    display: flex
    justify-content: center
  }
}

.home__brandsNavItem {
  @media $mq_s_only {
    text-align: center
  }
  
  & + .home__brandsNavItem {
    @media $mq_s_only {
      margin-top: 12px
    }
    
    @media $mq_m {
      margin-left: 12px
    }
  }
  
  .cta {
    display: block
    max-width 210px
    margin: 0 auto
  }
}

.home__story {
  padding: 42px 0
  border-top: 1px solid $color_lightGrey
  border-bottom: 1px solid $color_lightGrey
  margin: 78px 0 44px

  @media $mq_m {
    padding: 72px 0
    margin: 124px 0 90px
  }
}

.home__storyWrapper {
  max-width: (770px + 64px * 2)
  margin: 0 auto
}

.home__storyDesc {
  margin: 21px 36px 0 
  
  @media $mq_m {
    margin: 21px 64px 0   
  }
}

.home__products {
  margin: 44px 0 96px
  
  @media $mq_m {
    margin: 96px 0
  }
}

.home__productsTitle {
  position relative
  z-index 1
}

.home__productsGrid {
  margin-top: -18px
  
  @media $mq_m {
    margin-top: -29px
  }
}
  
