.logo {
  position: relative
  width: size = 42px
  height: size
  display: inline-block
  vertical-align: middle
  text-indent: -9999px
  overflow: hidden
  transition(opacity)
  
  &:hover {
    opacity: 0.67
  }
}

.logo__icon {
  text-indent: 0
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  
  img {
    display: block
    width: 100%
    height: 100%
  }
}